*{
    border:0;
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    flex-wrap: wrap;
}
#Nav-bar{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding-right:5%;
    background-color: white;
}
#LOGO{
    display: inline-block;
    height: 160px;
    padding-left: 30px;
    padding-top: 5px;
}
#Nav-bar ul{
    list-style: none;
    flex-wrap: wrap;
    align-items: center;
}
#Nav-bar a{
    color:#002645;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    text-decoration: none;
    padding: 15px;
    display: block; 
    /* height: 70px; */
}
#Nav-bar a:hover{
    background-color: hwb(0 55% 45%);
}
#mainDiv{
    display: flex;
    justify-content: space-evenly;
    background-color: white;
}
.shoe-content{
    padding: 2%;
    width: 35%;
    margin-top: 5%;
}
.slideshow-container {
    position: relative;
    flex-wrap: wrap;
    margin: auto;
}
.mySlides {
    display: none;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 45%;
    width: auto;
    margin-right: 18px;
    padding: 15px;
    color: grey;
    font-weight: bold;
    font-size: 18px;
    transition: 0.1s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
    color:black;
    font-size: 25px;
}
.text {
    color: hsl(0, 0%, 0%);
    font-size: 20px;
    position: absolute;
    bottom: 45px;
    width: 100%;
    text-align: center;
}
.numbertext {
    color: grey;
    font-size: 20px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover {
    background-color: #717171;
}
.fade {
    animation-name: fade;
    animation-duration: 1s;
}
@keyframes fade {
    from {opacity: .2}
    to {opacity: 1}
}
.image{
    height: 400px;
    width: 95%;

    margin-bottom: 6%;
}
#addtocart{
    position: relative;
    bottom: 45px;
}
.button{
    font-size: x-large;
    padding: 2%;
    width: 400px;
    background-color: black;
    color: #ffffff;
    margin-bottom: 2%;
    border-radius: 10px;
}
.button:hover{
    background-color: #e0e003;
    color: black;
    outline: 1px solid black;
    cursor: pointer;
}
.text-content{
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    padding-top: 3%;
    margin-left: 1%;
    flex-wrap: wrap;
}
#heading{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    color:#002645;
}
.sub-heading{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:x-large;
    margin-top: 5px;
    color: #002645;
}
.subheading{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:30px;
    margin-top: 5px;
    margin-bottom: 1%;
    color: #002645;
}
.color{
    font-size: larger;
    padding: 3%;
    width: 150px;
    background-color:white;
    color: #000000;
    margin-bottom: 5%;

}
.color:hover{
    cursor: pointer;
    color: white;
    background-color: #002645;
}
#size{
    align-items: center;
    display: flex; 
}
.sizes{
    background-color: white;
    width: 45px;
    height: 45px;
    margin-top: 5px;
    display: flex;
    justify-content:center;
    align-items: center;
    margin-right: 10px; 
    border: 1.5px solid black;
}
.sizes:hover{
    cursor: pointer;
    background-color: #002645;
    color: #ffffff;
} 
.right{
    margin-top: 5%;
    gap: 10px;
    height: 500px;
    overflow: scroll;
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    width: 5px; 
    height: 5px; 
}
::-webkit-scrollbar-track {
    border-radius: 20px;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 20px;
}
.display{
    height: 150px;
    width:150px;
    margin-bottom: 20px;
}
.display:hover{
    scale: 1.2 ;
    cursor: pointer;
    transition:  0.3s ease;
}
